@media (max-width: 599px) {
    nav{
        display: flex;
        justify-content:  center;
    }

    .box-title{
        font-size: 1.5rem !important;
    }
    .hero{
        display: flex;
        flex-flow: column;
    }
    .hero img{
        display: none;
    }
    #box-text{
        width: 100% !important;
    }
}
