:root{
     --title-bg-color: #fff7f0;
     --title-color:#e07a5f ;
     --greenText:#6b7c5f;
     --bg-linen:#fdf6ed;
     --voiceboxbg : #1a1b1d
}

.title-color{color:var(--title-color);}
.title-bg-color{background-color: var(--title-bg-color)}
.greenText{color: var(--greenText)}
.bg-linen{background-color: var(--bg-linen)}



html,body{
    font-family: "Inter" !important;
}

.logo{
     font-weight: bold;
    padding-right: 10px;
}
a{
    width: fit-content !important;
    display: flex;
}
a:hover{
    background: none;
}
.iteamnav{
    padding-left: 20px !important;
}
.iteamnav li a {
    padding: 0px 15px;
}
.iteamnav i{
    font-size: 1rem;
}
a:hover{
     background: none !important;
}
nav{

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}


.box-title{
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 15px !important;
    padding-left: 50px !important;
    border-radius: 25px;
    margin-top: 10px !important;
}

img{
    border-radius: 25px;
    transition-duration: 0.3s;
    padding-left: 0 !important;
    padding-right: 20px !important;
}
img:hover{
    filter: grayscale(30%);
    cursor: pointer;

}
#box-text{
    font-size: 1.4rem ;
    padding:20px  !important;
    border-radius: 25px;
}
.typed-cursor {
    display: none;
}
.chat h3{

    font-size: 2rem;
    margin: 20px 0 0 0  !important;
}

.chat .form-input p{
    font-size: 1.22rem;
    margin-bottom: 2px !important;
}
.chat .form-input div{
    position: relative;
    margin-bottom: 100px;
}
.chat .form-input textarea {
    background-color:var(--bg-linen);
    border-radius: 25px;
    border: none !important;
    padding: 5px 20px !important;
    font-size: 1.2rem;
    resize: none;
    line-height: 1.5;
}
.form-input  textarea:focus{
    outline: none !important;
}


.form-input span{
    display: block;
    position: absolute;
    bottom:  7px;
    right: 10px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--greenText);
}
.form-input span i{
    color: white;
}
.box-masseg{
    display:  flex;
    flex-flow: row;
    align-items: start;
    position: relative;
    word-wrap: break-word;  /* يكسر الكلمات الطويلة */
    white-space: normal;
    margin-top: 20px;

}
.box-masseg .icon{
    padding: 10px;
    background-color: var(--bg-linen);
    margin-right: 10px !important;
    border-radius: 10px;
}
.icon i{
    color:var(--title-color);

}
.sender{
    color: rgba(90, 90, 90, 0.38);
}
.textSender{
    display: flex;
    flex-flow: column;
    justify-content: start;
    max-width: 90%;
}
pre{
    margin: 0 !important;
    padding: 0 !important;
}

.chat-box {
    overflow-x: hidden;
    height: 500px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    word-wrap: break-word;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    resize: none;
}

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(121, 85, 72, 0.65);
}

.voicebox{
    height: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--voiceboxbg);
    border-radius: 30px;
}
.hero>div{
    margin-bottom: 20px;
}

pre{
    word-wrap: break-word;
    white-space: normal;
}